:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --background-color: #fff;
  --color: #303030;
}
* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-mode {
  --background-color: #212538;
  --color: #cef0e6;
}

body {
  margin: 50px;
  background-color: var(--background-color);
  color: var(--color);
  position: relative;
}

header {
  width: 20%;
  height: 100%;
  position: fixed;
  
}

main {
  position: absolute;
  top: 0;
  left: 23%;
  z-index: -1;
}

h1 {
  text-align: center;
}

#logo {
  display: block;
  margin: 0 auto 0 auto;
}

#table-of-contents {
  background: #f9f9f9;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 250px;
  font-size: 0.9em;
}

#table-of-contents a {
  text-decoration: none;
  color: rgb(148, 17, 180);;
}

#table-of-contents a:hover {
  font-weight: bold;
}

#light-dark-container {
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 12px;
  
}

#light {
  color: #212538;
  padding-bottom: 5px;
}

#dark {
  color: #fff;
}


#theme-toggle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #bae9ce;
  border: 2px solid rgb(98, 85, 214);
}

/*constrain image  */
#theme-toggle img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.example {
  background-color: rgb(229, 232, 247);
  color: rgb(148, 17, 180);
  padding: 10px;
  margin: 10px 0 10px 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  border: 1px solid #9c9fbe;
  border-radius: 5px;
  width: 700px;
}

section {
  position: relative;
  z-index: 1;
  max-height: 1500px;
  overflow: hidden;
  transition: opacity 1s ease, max-height 2s ease;
}

section.closed {
  max-height: 40px;
  transition: opacity 2s ease, max-height 0.5s ease;
}

.example p {
  margin: 3px;
}

.note-section {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 800px;
  padding: 0 30px 0 30px;
  margin: 10px 0 30px 0;
}

.note-section li {
  padding: 10px;
  margin-left: 15px;
}



#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color);
  width: 1px;
  height: 20px;
  z-index: 100;
  transition: width 1s ease-out;
}

.toggle-arrow {
  content: url(images/arrow.png);
  display: inline-block;
  width: 18px;
  margin-left: 10px;
  cursor: pointer;
  opacity: 1;
}

.toggle-arrow:active {
  width: 15px;
  margin-bottom: 1px;
  margin-right: 3px;
}

.toggle-arrow:hover {
  transform: rotate(90deg);
  transition: transform 200ms ease;
}

h2 {
  display: inline-block;
}
